/* inicio navbar */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* final navbar */

img{  
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: #212529;
  page-break-inside: auto;
  
}

.container{
  width: none;
  height: none;
  position: relative;
  background: none;  
}

  /* footer */

  html,
  body {
    height: 1000%;
  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }
  
 
  
  


  .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
  }