/* inicio navbar */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* final navbar */

img{  
  margin-bottom: 20px;
  border-radius: 900px;
  border: thick solid rgb(99, 90, 90);
  padding: 0px; 
}

figure{ 
 float: right;
 width:75% ;
 padding: 7em; 
}

figcaption{
  float: right;
  width:84% ;
  padding: ; 
  font-size: x-large;   
}

.containe{width: 10%;
  height: 3px;
  position: relative;
  background: #ccc  }

  /* footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
    padding: 0;
  }

  .h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }